.git
.github
.bin
.task
*.md
!README.md
docs/
scripts/
.golangci.yml
Taskfile.yml
.gitignore
.dockerignore
Dockerfile
Dockerfile.next
test-report.json
coverage
trivy.yaml
CHANGELOG.md
CODEOWNERS
SECURITY.md
CLAUDE.md
AGENTS.md
LICENSE

!Taskfile.yml
